@import "tailwindcss";



.container.dark{
    background: #222;
}
.section-spacing {
  min-height: 100vh;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .section-spacing {
    margin-top: 7.5rem;
  }
}
.my-heading {
  font-weight: 700;
  font-size: 1.875rem;
 
 
}



@keyframes marqueeLoop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  display: flex;
  width: 200%;
  animation: marqueeLoop 20s linear infinite;
}

.marquee-group {
  flex-shrink: 0;
  display: flex;
}
.readmore{
  color: blue;
  
}
